.link {
    cursor: pointer;
    border-bottom: 1px solid #4343aa;
    color: #4343aa;
    &.linkWrite {
        border-bottom: 1px solid #fff;
        color: #fff;
    }
    &.linkFalse {
        border-bottom: 1px solid #b53f3f;
        color: #b53f3f;
    }
    &.linkTrue {
        border-bottom: 1px solid #7bd782;
        color: #7bd782;
    }
}